body {
  background: #222b75;
  margin: 0;
  min-height: 100vh;   /* altura mínima para cubrir la pantalla */
  font-family: 'Courier Prime', monospace;
}

h1 {
  color: #f7b424;
  text-align: center;
  margin-bottom: 20px;
}

h2{
  color: #fff;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  color: #ddd;
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center; /* distribuye de lado a lado */
    align-items: center;
    gap: 50px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center; /* distribuye de lado a lado */
    align-items: center;
    gap: 20px;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 

  align-items: center;
  gap: 20px;
  width: 100%;          /* ocupar todo el ancho de la pantalla */
  max-width: 80%;    /* opcional: limitar un máximo */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

}

.graduate-card {
  display: flex;
  flex-direction: column; /* apila los elementos en columna */
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border: 0px solid #000; /* opcional: borde */
  border-radius: 40px;
  box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;

  max-width: 350px;
  width: 100%;
  box-sizing: border-box;

  cursor: pointer; /* mano al pasar */
  transition: transform 0.2s ease; /* animación suave */
  --scale: 1; /* variable de escala */
  z-index: 0;          /* valor base */
  animation: popIn 0.5s ease;
}


@keyframes popIn {
  0% { transform: scale(0.9); opacity: 0; }
  80% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
}


.graduate-card:hover {
  --scale: 1.05;
  transform: scale(var(--scale));
  z-index: 10;          /* valor base */
}

.graduate-img {
  width: 100%;
  max-height: 500px;
  border-top-left-radius: 40px; /* opcional: redonda */
  border-top-right-radius: 40px; /* opcional: redonda */
  aspect-ratio: 3 / 4;  /* ajusta según proporción (ejemplo: 3:4 retrato) */
  object-fit: cover;

  transition: opacity 0.5s ease; /* transición */
}

.graduate-img.fade-out {
  opacity: 0;
}
.graduate-label {
  border-color: #000;
  background: #f7b424;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 100%;
  height: 100%;
}

.graduate-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin: 8px 0 4px;
  padding-top: 10px;
}

.graduate-desc {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
  padding-bottom: 18px;
}

.clone-card {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform-origin: center center;
  transition: transform 1s ease, top 1s ease, left 1s ease;
  cursor: pointer;
  background: #fff;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);

  overflow: visible;  /* deja ver el glow */
}


.clone-card::before
{
  content:"";
  position: absolute;
  inset: -15px; /* crea un borde alrededor (negativo = afuera) */
  border-radius: inherit;
  /*background: linear-gradient(45deg, #00f, #0ff, #0f0, #ff0, #f0f, #f00);*/
  background: linear-gradient(45deg, rgb(255, 217, 0), rgb(255, 255, 255), rgb(13, 35, 133), #ff0, rgb(255, 0, 0), rgb(13, 35, 133));
  background-size: 300% 300%;
  filter: blur(20px);
  z-index: -10;
  animation: gradientGlow 5s infinite linear;
}

.clone-card.ready:hover
{
    transform: scale(1.5); /* se hace 5% más grande */
}

@keyframes gradientGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.overlay
{
    transition: filter 0.3s ease, background 0.3s ease;
    pointer-events: all; /* deja pasar clics normalmente */
}

.overlay.active {
  filter: blur(5px);
  background-color: rgba(0,0,0,0.3); /* opcional: oscurece */
  pointer-events: none; /* deja pasar clics normalmente */
}

.clone-close {
  position: fixed;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);  
  cursor: pointer;
  color: #fff;
  display: none; /* Oculto por defecto */
  transition: transform 0.2s ease; /* animación suave */
  z-index: 2000; /* Por encima del overlay */
}

.clone-close:hover {
  transform: translateX(-50%) scale(1.2);
  color: #ff0000;
}